/* stili comuni */
.btn-custom {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    transition: var(--transition);
}

/* button di tipo text */
.btn-text {
    letter-spacing: 0.98px;
    color: var(--primary);
}
.btn-text i {
    font-size: 26px;
    margin-left: 5px;
}
.btn-text:hover, .btn-text:focus {
    color: var(--primary-hover);
}

/* button di tipo riempimento */
.btn-fill {
    letter-spacing: 0.28px;
    padding: 12px 24px;
    background-color: var(--primary);
    color: var(--white);
}
.btn-fill i {
    font-size: 16px;
    margin-left: 6px;
    transition: var(--transition);
}
.btn-fill:hover, .btn-fill:focus {
    color: var(--white);
    background-color: var(--primary-hover);
}
.btn-fill:hover i, .btn-fill:focus i {
    transform: translateX(4px);
}

/* Bottone bianco */
.btn-white {
    letter-spacing: 0.28px;
    padding: 12px 24px;
    background-color: var(--white);
    color: var(--primary);
    width: fit-content;
}

.btn-white:hover {
    cursor: pointer;
}

.btn-white:hover, .btn-white:focus {
    opacity: 0.9;
    border-radius: 1px solid var(--white);
}

.btn-white:hover i, .btn-white:focus i {
    transform: translateX(4px);
}