/* stili comuni */
.card-container {
    display: block;
    color: var(--black);
  }
  .card-container:hover {
    color: var(--black);
  }
  .card-custom {
    margin-bottom: 70px;
  }
  .card-custom .card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .card-custom .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, filter 0.25s ease-in-out;
  }
  .card-custom .card-image.no-image {
    background: #f0f0f0;
  }
  .card-custom .card-image.no-image img {
    object-fit: contain;
    width: 50%;
    object-position: center;
    margin: 0 auto;
    display: block;
  }
  .card-custom .card-image.no-image {
      background: #f0f0f0;
  }
  .card-custom .card-image.no-image img {
      object-fit: contain;
      width: 50%;
      object-position: center;
      margin: 0 auto;
      display: block;
  }
  .card-custom .card-title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    color: #1c2024;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    transition: var(--transition);
  }
  .card-custom:hover .card-title {
    color: var(--primary);
    text-decoration: underline;
  }
  .card-custom:hover .card-image img {
    filter: brightness(70%);
    transform: scale(1.2);
  }
  
  /* stili solo per card-evento */
  .card-evento .card-title {
    margin-bottom: 20px;
  }
  .card-evento .details {
    display: flex;
    margin: 16px 0;
  }
  .card-evento .details div {
    display: flex;
    align-items: center;
  }
  .card-evento .details div:first-child {
    margin-right: 20px;
  }
  .card-evento .details p {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    margin-bottom: 0;
  }
  .card-evento .details i {
    font-size: 20px;
    margin-right: 4px;
  }
  
  /* stili solo per card-struttura,percorso */
  .card-esperienza {
    position: relative;
  }
  
  .card-form-button-like {
    position: absolute;
    top: 170px;
    right: 5%;
    z-index: 1000;
    background-color: unset;
    border: unset;
  }
  .card-esperienza .mipiace {
    right: 10px;
    top: 173px;
    background-color: var(--white);
    box-shadow: 0px 10px 20px #4a53581a;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
  }
  .card-esperienza .mipiace i {
    color: var(--heart);
    font-size: 30px;
  }
  .card-esperienza .indice-accessibilita {
    display: flex;
    align-items: center;
    margin: 13px 0;
    line-height: 30px;
  }
  .card-esperienza .indice-accessibilita i {
    color: var(--success);
    font-size: 30px;
    margin-right: 5px;
  }
  .card-esperienza .indice-accessibilita .indice {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  .card-esperienza .indice-accessibilita .totale {
    font-size: 18px;
    font-weight: 300;
    font-variant: sub;
    letter-spacing: 1.5px;
  }
  .card-esperienza .details-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  .card-esperienza .details-container > * {
    display: flex;
    align-items: center;
  }
  .card-esperienza .details-container i {
    font-size: 20px;
    margin-right: 4px;
  }
  .card-esperienza .details-container p {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.28px;
    margin-bottom: 0;
  }
  .card-esperienza .details-container .posizione {
    margin-right: 20px;
  }
  .card-esperienza .category {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 40px;
    padding: 3px 18px 3px 14px;
    margin-top: 26px;
    width: fit-content;
    transition: var(--transition);
  }
  .card-esperienza .category span {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    color: var(--primary);
  }
  .card-esperienza .category img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
  .card-esperienza .category:hover {
    box-shadow: 0px 0px 20px #5549401a;
  }
  
  .icon-event-card {
    color: var(--primary);
    margin-right: 5px;
    font-size: 20px;
  }
  
  @media screen and (max-width: 900px) {
    .card-esperienza .details-container {
      display: flex;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;
    }
  }

  
  /* NUOVO */
  /* Offerte/pachetii cards */
.offerte .card-container {
  background-color: var(--white);
  border-radius: 25px;
  padding-bottom: 1rem;
}

.offerte .card-image{
  border-radius: 25px 25px 0 0;
}

.offerte .data {
  color: #266CB0;
  font-size: 1.25rem;
  font-weight: 700;
}

.offerte .descrizione {
  display: none;
}

.offerte .btn-custom {
  display: none;
}

.offerte .data,
.offerte .descrizione,
.offerte .card-title,
.offerte .details-container,
.offerte .btn-custom {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Offerte/pachetii - card hover */
.offerte .card-container:hover {
  cursor: pointer;
}

.offerte .card-container:hover img{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.offerte .card-container:hover .card-image {
  height: 150px;
}

.offerte .card-container:hover .data,
.offerte .card-container:hover .details-container {
  display: none;
}

.offerte .card-container:hover .card-title {
  text-decoration: none;
  color: #1c2024;
}

.offerte .card-container:hover .descrizione {
  display: unset;
}

.offerte .card-container:hover  .btn-custom  {
  display: inline-flex;
}

.card-souvenir {
  border-radius: 25px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-size: cover; 
  background-repeat: no-repeat;
  position: relative; 
}

.card-souvenir a {
  display: flex;
  justify-content: end;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(179deg, rgba(217, 217, 217, 0.00) 30%, rgba(0, 0, 0, 0.79) 94.51%)
}

/* Souvenir solidari - associazioni o organizzazioni */
.card-souvenir:hover .gradient-overlay {
  background: linear-gradient(179deg, rgba(217, 217, 217, 0.00) 20%, rgba(0, 0, 0, 0.79) 90.51%)
}

.souvenir-logo {
  height: 50px;
  min-width: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #eef1f7;
  z-index: 1;
}

.souvenir-container {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.souvenir-nome {
  color: var(--white);
  font-weight: 600;
  font-size: 1.3rem;
  z-index: 1;
}

.card-souvenir a {
  cursor: pointer;
}

.card-souvenir a:hover .souvenir-nome {
 opacity: 0.8;
}

/* PAGINA ASSOCIAZIONI - TUTTE */

.card-souvenir-tutti .gradient-overlay {
  background: linear-gradient(179deg, rgba(217, 217, 217, 0.00) 30%, rgba(0, 0, 0, 0.79) 94.51%)
}

.card-souvenir-tutti .souvenir-container {
  display: flex;
  flex-direction: column;
  color: var(--white);
  margin-right: 1rem;
}

.card-souvenir-tutti .souvenir-container p {
  color: var(--white);
  font-size: 1rem;
  font-weight: 300;
  display: none;
}

/* Bottone - testo bianco */
.card-souvenir-tutti .souvenir-container .btn-text {
  color: var(--white);
  display: none!important;
}

.card-souvenir-tutti .souvenir-container .btn-text i {
  font-size: 20px;
}

/* Card hover */
.card-souvenir-tutti:hover .souvenir-container p,
.card-souvenir-tutti:hover .souvenir-container .btn-text {
  display: inline-flex!important;
}

.card-souvenir-tutti .souvenir-container .btn-text:hover i {
  transform: translateX(4px);
}

.card-souvenir-tutti .souvenir-container .btn-text:hover {
  opacity: 0.8;
}

.card-souvenir-tutti:hover .gradient-overlay {
  background: linear-gradient(181deg, rgba(217, 217, 217, 0.00) 1%, rgba(0, 0, 0, 0.79) 75%);
}
  