/* Galleria */
.galleria {
    position: relative;
}

.galleria img,
.struttura img,
.card-souvenir-tutti img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.galleria .col-md-7 img {
    height: 30rem;
}

.galleria .col-md-5 img {
    height: 14.5rem;
}

.galleria i {
    font-size: 16px;
    margin-left: 6px;
    transition: var(--transition);
}

.galleria a {
    position: absolute;
    right: 2.2rem;
    bottom: 1.5rem;
}

/* Image swiper */
.mySwiperGallery {
    width: 70vw;
    height: 50vh;
}

.mySwiperGallery  .swiper-slide img {
    width: 100%;
height: 100%;
object-fit: cover;
object-position: center center;
}

.mySwiperGallery .swiper-pagination {
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
}

.mySwiperGallery .swiper-button-next,
.mySwiperGallery .swiper-button-prev {
    color: var(--white);
}
.mySwiperGallery .swiper-button-next:after,
.mySwiperGallery .swiper-button-prev::after {
    font-size: 2rem;
}

/* Gallery modal */
#galleryModal .modal-content {
    width: 100%;
    height: 100%;
    border: 0;
}

#galleryModal .modal-content i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
    color: var(--white);
    font-size: 28px;
}

#galleryModal .modal-content i:hover {
    cursor: pointer;
}

#galleryModal .modal-dialog {
    width: 70vw;
    max-width: unset;
}

@media screen and (min-width: 1200px) {
    #galleryModal .modal-dialog {
        width: 50vw;
    }

    .mySwiperGallery {
        width: 50vw;
        height: 70vh;
    }
}

@media screen and (max-width: 767px) {

    .galleria a {
        right: 1.2rem;
    }

    .galleria .col-md-7 img {
        height: 20rem;
    }
    
    .galleria .col-md-5 img {
        display: none;
    }
    
  }

@media screen and (max-width: 576px) {
    #galleryModal .modal-dialog {
    width: unset;
    max-width: unset;
}

.swiper.mySwiperGallery {
  width: 100%;
}
}
