.map-eventi-percorsi {
    width: 100%;
  
    height: 500px;
  }
  
  .map-strutture-percorsi {
    width: 50%;
    height: 950px;
  }
  
  .map-page {
    height: 100%;
  }
  
  .map-filtri {
    width: 30%;
    padding: 10px;
  }
  
  .tab-informazioni-mappa {
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: space-around;
  }
  
  .button-tab-mappa {
    padding: 16px;
    color: var(--secondary) !important;
    border-radius: 0 !important;
  }
  
  .button-tab-mappa.active {
    color: var(--primary) !important;
    border-bottom: 2px solid var(--primary) !important;
    background-color: white !important;
  }
  
  .nav-item-mappa {
    bottom: -1px;
    position: relative;
    padding: 0px;
  }
  
  .map-mappa {
    width: 70%;
    height: 100%;
  }
  
  .map-search-filter {
    border-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-color: #ebebeb;
    font-size: 18px;
    font-style: italic;
    color: var(--secondary);
    line-height: 1;
    box-shadow: 2px 2px 10px 2px lightgrey;
  }
  
  .map-search-button {
    background-color: white;
    border-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: var(--primary);
    border-color: #ebebeb;
    box-shadow: 2px 2px 10px 2px lightgrey;
  }
  
  .btn-map-see-all {
    background-color: var(--primary);
    border-radius: 0px;
    border: 0;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 34px;
    transition: var(--transition);
  }
  
  .map-filtri .input-group {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  .map-filtri .input-group form {
    display: flex;
    width: 90%;
  }
  
  .map-filter-zone {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: var(--secondary);
    padding: 0 15px;
  }
  
  .map-filter-zone img {
    height: 60px;
    width: 60px;
    filter: grayscale();
    pointer-events: none;
  }
  
  .map-filter-zone input {
    display: none;
  }
  
  .map-filter-zone label {
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
  }
  
  .map-filter-zone input:checked + label {
    opacity: 1;
  }
  
  .map-filter-zone input:checked + label img {
    filter: none;
  }
  
  .map-filter-zone input:checked + label {
    color: var(--primary);
  }
  
  .tag-container .tag {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 40px;
    padding: 4px 26px;
    transition: var(--transition);
    cursor: pointer;
  }
  
  .tag-container input {
    display: none;
  }
  
  .tag-container input:checked + .tag {
    background-color: var(--primary) !important;
    color: var(--white) !important;
  }
  .tag-container .tag:checked {
    background-color: var(--primary) !important;
    color: var(--white) !important;
  }
  
  .tag-container .tag:hover {
    color: var(--primary-hover);
    background-color: var(--blue-light);
    border-color: var(--primary-hover);
  }
  
  .map-filter-tag .tag-container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  .map-filter-tag .tag-container .tag {
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    background-color: var(--white);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 40px;
    padding: 4px 26px;
    transition: var(--transition);
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .map-filter-h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 40px;
  }
  .map-filter-h4 + p {
    font-size: 14px;
  }
  .leaflet-container {
    font-family: "Titillium Web", sans-serif !important;
  }
  .map-mappa .leaflet-popup-content {
    width: unset !important;
    margin: 0 !important;
  }
  .map-mappa .leaflet-popup-content-wrapper {
    border-radius: 0 !important;
    width: 450px;
  }
  
  .map-mappa .leaflet-popup .map-info-card-elenco {
    box-shadow: none;
  }
  
  .map-info-card-image {
    position: relative;
    margin-right: 20px;
    width: 140px;
  }
  .map-info-card-image img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .map-info-card-destra {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .map-info-card-destra .category img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
  
  .map-icon-cuore {
    position: absolute;
    top: -20px;
    left: -20px;
  }
  
  .map-icon-cuore .icona-cuore {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  }
  
  .map-input-range {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  .map-info-card-destra .category span {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    letter-spacing: -0.14px;
    text-transform: uppercase;
    color: var(--primary);
  }
  
  .map-info-card-punteggio {
    display: flex;
    align-items: center;
  }
  
  .map-info-card-punteggio i {
    height: 20px;
    width: 20px;
    font-size: 20px;
  }
  
  .map-info-card-elenco {
    margin: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 2px 10px 2px lightgrey;
    border-radius: 4px;
  }
  
  .map-info-card-elenco .card-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .map-info-card-elenco .card-posizione {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    margin: 0;
    margin-right: 20px;
  }
  
  .map-info-card-elenco i {
    height: 30px;
    width: 30px;
    font-size: 25px;
  }
  
  .card-posizione i {
    font-size: 20px;
  }
  .indice {
    font-size: 26px;
    font-weight: bold;
  }
  
  .category {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 40px;
    padding: 3px 18px 3px 14px;
    margin-top: 26px;
    width: fit-content;
    transition: var(--transition);
  }
  
  .map-filter-range-number {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .map-input-range i {
    font-size: 22px;
  }
  
  .map-filter-button-vote {
    width: 100%;
    border: none;
    background-color: white;
  }
  
  .map-filter-button-cat {
    border: none;
    background-color: white;
  }
  
  .map-info-card-link {
    width: fit-content;
  }
  
  .button-pushpin {
    width: 100px;
    height: 100px;
    z-index: 500;
    top: 20px;
    left: 100px;
    position: relative;
  }
  
  /*https://stackoverflow.com/questions/18389224/how-to-style-html5-range-input-to-have-different-color-before-and-after-slider*/
  
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"] {
      overflow: hidden;
      width: 80px;
      -webkit-appearance: none;
      background-color: #e0e0e0;
    }
  
    input[type="range"]::-webkit-slider-runnable-track {
      height: 15px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }
  
    input[type="range"]::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
  
      -webkit-appearance: none;
      background: var(--primary);
      box-shadow: 600px 0 0 600px #b0ccdf;
    }
  }
  
  /* RESPONSIVE */
  @media screen and (min-width: 1201px) {
    .map-bottone-media-screen {
      display: none;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .map-page {
      display: block !important;
    }
    .map-filtri {
      width: 100%;
      position: fixed;
      z-index: 1001;
      background-color: white;
      box-shadow: 2px 2px 10px 2px lightgrey;
    }
    .map-mappa {
      width: 100%;
    }
    .map-page {
      height: 100%;
    }
    .map-filter-media-screen {
      height: 100em;
    }
  
    .map-filtri .input-group {
      margin-top: 0px;
      margin-bottom: 5px;
    }
    #map-button-filter {
      overflow-y: scroll;
      max-height: 50vh;
    }
    .map-info-card-elenco:first-child {
      margin-top: 190px;
    }
  }
  