.offerta {
    margin: 50px 0;
}

.offerta .title {
    display: flex;
    justify-content: space-between;
}

.offerta .title h1,
.title-center h1,
.souvenir-singolo h1 {
    color: var(--secondary);
    font-size: 56px;
    line-height: 1.25;
    font-weight: 700;
    letter-spacing: -1.8px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.offerta .title .posizione,
.offerta .title .posizione p {
    color: black;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.offerta .prezzo {
    position: unset;
    height: 100%;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

/* Accordion - dettagli dell'offerta */
.accordion {
    --bs-accordion-border-width: 0px;
    --bs-accordion-btn-icon-width: 1rem;
}

.accordion-button:not(.collapsed) {
    color: var(--black);
    background-color: var(--white);
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.accordion-button {
    color: #767676;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.2rem 0;
    border-top: 1.5px solid #EBEBEB;
}

.accordion-button:focus {
    border-top: 1.5px solid #EBEBEB;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #767676;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 0px;
}

.accordion-body {
    padding: 0;
    padding-bottom: 1rem;
}

.accordion .accordion-item:last-of-type {
    border-bottom: 1.5px solid #EBEBEB;
}

.bullet-list li {
    color: #181818;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem; 
}

.bullet-list p {
    margin-bottom: 0; 
    color: #181818;
    font-size: 1rem;
    font-weight: 600;
}

.contatti {
    display: flex;
    flex-direction: column;
}

.contatti-item {
    display: inline-flex;
    align-items: center;
    color: #266CB0;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.contatti-item i {
    font-size: 1.4rem;
    margin-right: 5px;
}


/* Struttura che offre l'offerta */
.offerta .struttura img {
    height: 15rem;
}

.offerta .struttura h3 {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 700;
    color: #1c2024;
}

.offerta .struttura .indice-accessibilita {
    display: flex;
    align-items: center;
    margin: 13px 0;
    line-height: 30px;
}

.offerta .struttura .indice-accessibilita i {
    color: var(--success);
    font-size: 30px;
    margin-right: 5px;
}

.offerta .struttura .indice-accessibilita .indice {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.offerta .struttura .indice-accessibilita .totale {
    font-size: 18px;
    font-weight: 300;
    font-variant: sub;
    letter-spacing: 1.5px;
}

.offerta .struttura .category {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 40px;
    padding: 3px 18px 3px 14px;
    margin-top: 26px;
    width: fit-content;
    transition: var(--transition);
}

.offerta .struttura .category img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.prezzo-secondo span {
    color: var(--primary);
    font-size: 1.7rem;
}

.prezzo-secondo p {
    color: #1c2024;
}


@media screen and (max-width: 767px) {.offerta .prezzo {
        display: none!important;
    }

    .prezzo-secondo {
        display: flex;
        align-items: center;
    }

    .title-center p {
        width: 100%!important;
      }
  }

  @media screen and (min-width: 768px) {

    .prezzo-secondo {
        display: none;
    }
  }