/* abstracts: css variables */
@import "./abstracts/_variables.css";

/* base: typography and common styles */
@import "./base/_base.css";

/* components: reusable components */
@import "./components/_accordion.css";
@import "./components/_button.css";
@import "./components/_card.css";
@import "./components/_document.css";/* PRONACI!! */
@import "./components/_footer.css";
@import "./components/_gallery.css"; /* PRONACI!! */
@import "./components/_header.css";
@import "./components/_information.css";
@import "./components/_breadcrumb.css"; /* PRONACI!! */
@import "./components/_link-map.css";
@import "./components/_pagination.css";/* PRONACI!! */
@import "./components/_select.css";/* PRONACI!! */

/* pages: individual pages */
@import "./pages/_evento.css"; /* PRONACI!! */
@import "./pages/_home.css";
@import "./pages/_mappa.css";
@import "./pages/_percorso-struttura.css"; 
@import "./pages/_single-page.css";
@import "./pages/_area_riservata.css";/* PRONACI!! */

/* Errore striscia a sinistra in Home */
@media screen and (max-width:568px) {

    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }    
}

/* NUOVE MODIFICHE */
/* HOME */
.disabilità, .offerte {
    padding-top: 140px;
    padding-bottom: 40px;
}

.disabilità {
    background-color: white!important;
}

.prezzo {
    position: absolute;
    top: 1rem; 
    right: 1rem; 
    background-color: #266CB0;
    color: white; 
    padding: 0.5rem 1rem; 
    border-radius: 1rem 1rem 1rem 0rem;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: 2; 
}

.prezzo p{
    color: white;
    margin-bottom: 0;
    margin-right: 0.25rem;

}

.prezzo span{
    font-size: 1.5rem;
    font-weight: 700;

}

.homepage .esperienze {
    padding-bottom: 80px;
}

/* Offerte/pachetii cards */
.offerte .card-container {
    background-color: white;
    border-radius: 25px;
    padding-bottom: 1rem;
}

.offerte .card-image{
    border-radius: 25px 25px 0 0;
}

.offerte .data {
    color: #266CB0;
    font-size: 1.25rem;
    font-weight: 700;
}

.offerte .descrizione {
    display: none;
}

.offerte .btn-custom {
    display: none;
}

.offerte .data,
.offerte .descrizione,
.offerte .card-title,
.offerte .details-container,
.offerte .btn-custom {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Offerte/pachetii - card hover */
.offerte .card-container:hover {
    cursor: pointer;
}

.offerte .card-container:hover img{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.offerte .card-container:hover .card-image {
    height: 150px;
}

.offerte .card-container:hover .data,
.offerte .card-container:hover .details-container {
    display: none;
}

.offerte .card-container:hover .card-title {
    text-decoration: none;
    color: #1c2024;
}

.offerte .card-container:hover .descrizione {
    display: unset;
}

.offerte .card-container:hover  .btn-custom  {
    display: inline-flex;
}
  
/* Souvenir solidari - associazioni o organizzazioni */
.souvenir h2 {
    color: var(--primary);
}

.souvenir {
    margin-top: 140px;
    margin-bottom: 140px;
}

.swiper.mySwiperSouvenir {
    width: 100%;
    height: 100%;
  }

.card-souvenir {
    border-radius: 25px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
}

.card-souvenir .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.70) 99.89%);
}

.souvenir-logo {
    height: 50px;
    min-width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #eef1f7;
    z-index: 1;
}

.souvenir-nome {
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    z-index: 1;
}

/* PAGINA OFFERTA */
.offerta {
    margin: 50px 0;
}

.offerta .title {
    display: flex;
    justify-content: space-between;
}

.offerta .title h1 {
    color: var(--secondary);
    font-size: 56px;
    line-height: 1.25;
    font-weight: 700;
    letter-spacing: -1.8px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.offerta .title .posizione,
.offerta .title .posizione p {
    color: black;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.offerta .prezzo {
    position: unset;
    height: 100%;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

/* Galleria */
.offerta .gallery {
    position: relative
}

.offerta .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}



.offerta .gallery i {
    font-size: 16px;
    margin-left: 6px;
    transition: var(--transition);
}

.offerta .gallery a {
    position: absolute;
    right: 2.2rem;
    bottom: 1.5rem;
}

/* Bottone bianco */
.btn-white {
    letter-spacing: 0.28px;
    padding: 12px 24px;
    background-color: var(--white);
    color: var(--primary);
    width: fit-content;
}

.btn-white:hover, .btn-white:focus {
    opacity: 0.9;
    border-radius: 1px solid white;
    color: aquamarine;
}

.btn-white:hover i, .btn-white:focus i {
    transform: translateX(4px);
}

/* Accordion - dettagli dell'offerta */
.accordion {
    --bs-accordion-border-width: 0px;
    --bs-accordion-btn-icon-width: 1rem;
}

.accordion-button:not(.collapsed) {
    color: var(--black);
    background-color: var(--white);
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.accordion-button {
    color: #767676;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.2rem 0;
    border-top: 1.5px solid #EBEBEB;
}

.accordion-button:focus {
    border-top: 1.5px solid #EBEBEB;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #767676;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 0px;
}

.accordion-body {
    padding: 0;
    padding-bottom: 1rem;
}

.accordion-item:last-of-type {
    border-bottom: 1.5px solid #EBEBEB;
}

.accordion .bullet-list li {
    color: #181818;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem; 
}

.accordion .bullet-list p {
    margin-bottom: 0; 
    color: #181818;
    font-size: 1rem;
    font-weight: 600;
}

.accordion .contatti {
    display: inline-flex;
    align-items: center;
}

/**/
.accordion .contatti i {
    font-size: 26px;
    margin-left: 5px;
}