/* abstracts: css variables */
@import "./abstracts/_variables.css";

/* base: typography and common styles */
@import "./base/_base.css";

/* components: reusable components */
@import "./components/_accordion.css";
@import "./components/_button.css";
@import "./components/_card.css";
@import "./components/_document.css";/* PRONACI!! */
@import "./components/_footer.css";
@import "./components/_gallery.css"; /* PRONACI!! */
@import "./components/_header.css";
@import "./components/_information.css";
@import "./components/_breadcrumb.css"; /* PRONACI!! */
@import "./components/_link-map.css";
@import "./components/_pagination.css";/* PRONACI!! */
@import "./components/_select.css";/* PRONACI!! */

/* pages: individual pages */
@import "./pages/_evento.css"; /* PRONACI!! */
@import "./pages/_home.css";
@import "./pages/_mappa.css";
@import "./pages/_percorso-struttura.css"; 
@import "./pages/_single-page.css";
@import "./pages/_area_riservata.css";/* PRONACI!! */

/* Errore striscia a sinistra in Home */
@media screen and (max-width:568px) {

    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }    
}

/* NUOVE MODIFICHE */
/* HOME */
.homepage .esperienze {
    padding-bottom: 80px;
}

.disabilità, 
.offerte {
    padding-top: 140px;
    padding-bottom: 40px;
}

.disabilità {
    background-color: white!important;
}

.prezzo {
    position: absolute;
    top: 1rem; 
    right: 1rem; 
    background-color: #266CB0;
    color: var(--white);
    padding: 0.5rem 1rem; 
    border-radius: 1rem 1rem 1rem 0rem;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: 2; 
}

.prezzo p,
.prezzo-secondo p {
    color: var(--white);
    margin-bottom: 0;
    margin-right: 0.25rem;

}

.prezzo span,
.prezzo-secondo span {
    font-size: 1.5rem;
    font-weight: 700;

}

/* Offerte/pachetii cards */
.offerte .card-container {
    background-color: var(--white);
    border-radius: 25px;
    padding-bottom: 1rem;
}

.offerte .card-image{
    border-radius: 25px 25px 0 0;
}

.offerte .data {
    color: #266CB0;
    font-size: 1.25rem;
    font-weight: 700;
}

.offerte .descrizione {
    display: none;
}

.offerte .btn-custom {
    display: none;
}

.offerte .data,
.offerte .descrizione,
.offerte .card-title,
.offerte .details-container,
.offerte .btn-custom {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Offerte/pachetii - card hover */
.offerte .card-container:hover {
    cursor: pointer;
}

.offerte .card-container:hover img{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.offerte .card-container:hover .card-image {
    height: 150px;
}

.offerte .card-container:hover .data,
.offerte .card-container:hover .details-container {
    display: none;
}

.offerte .card-container:hover .card-title {
    text-decoration: none;
    color: #1c2024;
}

.offerte .card-container:hover .descrizione {
    display: unset;
}

.offerte .card-container:hover  .btn-custom  {
    display: inline-flex;
}
  
/* Souvenir solidari - associazioni o organizzazioni */
.souvenir h2 {
    color: var(--primary);
}

.souvenir {
    margin-top: 140px;
    margin-bottom: 140px;
}

.swiper.mySwiperSouvenir {
    width: 100%;
    height: 100%;
  }

.card-souvenir {
    border-radius: 25px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative; 
}

.card-souvenir a {
    display: flex;
    justify-content: end;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(179deg, rgba(217, 217, 217, 0.00) 30%, rgba(0, 0, 0, 0.79) 94.51%)
}

.card-souvenir:hover .gradient-overlay {
    background: linear-gradient(179deg, rgba(217, 217, 217, 0.00) 20%, rgba(0, 0, 0, 0.79) 90.51%)
}

.souvenir-logo {
    height: 50px;
    min-width: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #eef1f7;
    z-index: 1;
}

.souvenir-container {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
}

.souvenir-nome {
    color: var(--white);
    font-weight: 600;
    font-size: 1.3rem;
    z-index: 1;
}

.card-souvenir a {
    cursor: pointer;
 }

.card-souvenir a:hover .souvenir-nome {
   opacity: 0.8;
}

/* PAGINA OFFERTA */
.titleInfo {
    text-transform: uppercase;
}

.offerta,
.souvenir-tutti,
.souvenir-singolo {
    margin: 50px 0;
}

.offerta .title {
    display: flex;
    justify-content: space-between;
}

.offerta .title h1,
.title-center h1,
.souvenir-singolo h1 {
    color: var(--secondary);
    font-size: 56px;
    line-height: 1.25;
    font-weight: 700;
    letter-spacing: -1.8px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.offerta .title .posizione,
.offerta .title .posizione p {
    color: black;
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

.offerta .prezzo {
    position: unset;
    height: 100%;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

/* Galleria */
.galleria {
    position: relative;
}

.galleria img,
.struttura img,
.card-souvenir-tutti img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.galleria .col-md-7 img {
    height: 30rem;
}

.galleria .col-md-5 img {
    height: 14.5rem;
}

.galleria i {
    font-size: 16px;
    margin-left: 6px;
    transition: var(--transition);
}

.galleria a {
    position: absolute;
    right: 2.2rem;
    bottom: 1.5rem;
}

/* Bottone bianco */
.btn-white {
    letter-spacing: 0.28px;
    padding: 12px 24px;
    background-color: var(--white);
    color: var(--primary);
    width: fit-content;
}

.btn-white:hover, .btn-white:focus {
    opacity: 0.9;
    border-radius: 1px solid var(--white);
}

.btn-white:hover i, .btn-white:focus i {
    transform: translateX(4px);
}

/* Accordion - dettagli dell'offerta */
.accordion {
    --bs-accordion-border-width: 0px;
    --bs-accordion-btn-icon-width: 1rem;
}

.accordion-button:not(.collapsed) {
    color: var(--black);
    background-color: var(--white);
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.accordion-button {
    color: #767676;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.2rem 0;
    border-top: 1.5px solid #EBEBEB;
}

.accordion-button:focus {
    border-top: 1.5px solid #EBEBEB;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #767676;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 0px;
}

.accordion-body {
    padding: 0;
    padding-bottom: 1rem;
}

.accordion .accordion-item:last-of-type {
    border-bottom: 1.5px solid #EBEBEB;
}

.bullet-list li {
    color: #181818;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem; 
}

.bullet-list p {
    margin-bottom: 0; 
    color: #181818;
    font-size: 1rem;
    font-weight: 600;
}

.contatti {
    display: flex;
    flex-direction: column;
}

.contatti-item {
    display: inline-flex;
    align-items: center;
    color: #266CB0;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.contatti-item i {
    font-size: 1.4rem;
    margin-right: 5px;
}


/* Struttura che offre l'offerta */
.offerta .struttura img {
    height: 15rem;
}

.offerta .struttura h3 {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 700;
    color: #1c2024;
}

.offerta .struttura .indice-accessibilita {
    display: flex;
    align-items: center;
    margin: 13px 0;
    line-height: 30px;
}

.offerta .struttura .indice-accessibilita i {
    color: var(--success);
    font-size: 30px;
    margin-right: 5px;
}

.offerta .struttura .indice-accessibilita .indice {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.offerta .struttura .indice-accessibilita .totale {
    font-size: 18px;
    font-weight: 300;
    font-variant: sub;
    letter-spacing: 1.5px;
}

.offerta .struttura .category {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 40px;
    padding: 3px 18px 3px 14px;
    margin-top: 26px;
    width: fit-content;
    transition: var(--transition);
}

.offerta .struttura .category img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.prezzo-secondo span {
    color: var(--primary);
    font-size: 1.7rem;
}

.prezzo-secondo p {
    color: #1c2024;
}


@media screen and (max-width: 767px) {
    .offerta .galleria .col-md-7 img {
        height: 20rem;
    }
    
    .offerta .galleria .col-md-5 img {
        display: none;
    }

    .offerta .prezzo {
        display: none!important;
    }

    .prezzo-secondo {
        display: flex;
        align-items: center;
    }

    .title-center p {
        width: 100%!important;
      }
  }

  @media screen and (min-width: 768px) {

    .prezzo-secondo {
        display: none;
    }
  }

  /* PAGINA ASSOCIAZIONI - TUTTE */
  .title-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-souvenir-tutti {
    height: 20rem;
    overflow: hidden;
    position: relative;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .card-souvenir-tutti .gradient-overlay {
    background: linear-gradient(179deg, rgba(217, 217, 217, 0.00) 30%, rgba(0, 0, 0, 0.79) 94.51%)
}

.card-souvenir-tutti .souvenir-container {
    display: flex;
    flex-direction: column;
    color: var(--white);
    margin-right: 1rem;
}

.card-souvenir-tutti .souvenir-container p {
    color: var(--white);
    font-size: 1rem;
    font-weight: 300;
    display: none;
}

/* Bottone - testo bianco */
.card-souvenir-tutti .souvenir-container .btn-text {
    color: var(--white);
    display: none!important;
}

.card-souvenir-tutti .souvenir-container .btn-text i {
    font-size: 20px;
}

/* Card hover */
.card-souvenir-tutti:hover .souvenir-container p,
.card-souvenir-tutti:hover .souvenir-container .btn-text {
    display: inline-flex!important;
}

.card-souvenir-tutti .souvenir-container .btn-text:hover i {
    transform: translateX(4px);
}

.card-souvenir-tutti .souvenir-container .btn-text:hover {
    opacity: 0.8;
}

.card-souvenir-tutti:hover .gradient-overlay {
    background: linear-gradient(181deg, rgba(217, 217, 217, 0.00) 1%, rgba(0, 0, 0, 0.79) 75%);
}

 /* PAGINA ASSOCIAZIONE -SINGOLA */




